.icon.outbound
  display none !important

a.sidebar-link.active
    border-left-color: #0F0F32
    color: #0F0F32

.search-box input:focus
  border-color: #0F0F32

.home .hero .action-button
    background-color: #0F0F32

.search-box input:focus
    border-color: #0F0F32

.search-box .suggestion.focused a
    color: #0F0F32

.dropdown-wrapper .nav-dropdown .dropdown-item a:hover
    color: #0F0F32

.dropdown-wrapper .nav-dropdown .dropdown-item a:router-link-active
    color: #0F0F32

.dropdown-wrapper .nav-dropdown .dropdown-item a:router-link-active::after
    color: #0F0F32

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active
    border-bottom: 2px solid #0F0F32

.header-anchor
    color: #0F0F32